body{
    font-family: 'Montserrat';
    text-align: center;
  }
  
  h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat-black";
  }
  
  
  p{
    color: #fff;
  }
  
  
  .container-fluid{
    padding: 7% 15% 7%;
    
  }

  .header-div{
    height: 100vh;
    overflow: hidden;
    margin-top: 3%;
  }
 
  


  /* Navigation Bar */
.navbar{
    padding: 0 0 4.5rem;
  }
  
  .navbar-brand{
    font-size: 2.5rem;
    font-weight: bold;
  }
  .navbar-logo{
    width: 70%;
  }
  .nav-item{
    padding: 0 18px;
  }
  
  .navbar-btn{
      background-color: #262A53;
      color: #ffffff;
      border-radius: 2rem;
      font-size: .75rem;
      padding: .5rem 1rem;
  }




  /* Header Section */
  .header-img-container{
    padding: 2%;
    display: inline-block;
    background-color: #FFE3E3  ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 20%;
    width: 15rem;
    height: 20rem;
}
.header-img{
  max-width: 100%;
  max-height: 100%;
}

.header-title{
    display: inline-block;
    position: absolute;
    right: 20%;
    top: 45%;
}
.header-btn{
    background-color: #262A53;
    color: #ffffff;
    border-radius: 2rem;
    font-size: 1rem;
    padding: .5rem 1rem;
}
 
 


/* SECTION 2 */
.section2-button-div{
  background-color: #FFE3E3;
  border: 1px solid #FFA0A0;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3.75rem;
  padding: 1% 3%;
  margin: 2% 3% 5%;
}

.section2-card{
  background-color: #FFE3E3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 
  0px 4px 4px rgba(0, 0, 0, 0.25),
  0px 4px 4px rgba(0, 0, 0, 0.25), 
  0px 4px 4px rgba(0, 0, 0, 0.25), 
  0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 3% 2%;
}




/* SECTION 3 */
.section3-podcast-img{
  width: 80%;
}




/* SECTION 4 */
.courses-card{
  background-color: #FFE3E3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 
  0px 4px 4px rgba(0, 0, 0, 0.25), 
  0px 4px 4px rgba(0, 0, 0, 0.25),
  0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7%;
  padding: 3% 2%;
}





/* SECTION 5 */
.section5{
  background-color: #C4C4C4;
}
.section5-text{
  padding-top: 5%;
}
.section5-event-img{
width: 80%;
}


  
  /* Footer Section */
  .social-icon{
    margin: 20px 10px;
  }
  .logo-div{
    text-align: left;
    color: #ffffff;
} 
.footer-logo{
  width: 70%;
  margin-top: -2rem;
}
.footer-logo-slogan{
  margin-top: -5rem;
}
.footer-contact{
    color: #ffffff;
    font-size:41px;
}
.footer-contact:hover{
    color: #ffffff;
}

  
  
/* Sections */
.pink-section{
  background-color: #FFA0A0 ;
}
.dual-color-section{
    background: linear-gradient(to right,  #FFE3E3   30%, #F07878 30% 100%);
    /* green 0%, green 80%, red 80%, red 100% */
}